body {
	
}

a {
	text-decoration: none;
}

div #clear {
	clear: both;
}

/* Logo */

#logo a {
	background: #000 url(../img/amortecedores-logo.png) no-repeat;
	display: block;
	text-indent: -9999px;
	height: 322px;
}

/* Barra Navegação */

#nav-superior {

}